.calculator__display {
    width: 100%;
    height: 70px;
    font-size: 30px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid $grey;
    color: $black;
    padding: 15px;
    border-radius: 5px;
    outline: 0;
}
