.calculator__number-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .calculator__number-list__item {
        width: calc(100% / 3);
        padding: 0 3px 3px 0;

        button {
            display: block;
            background: $grey;
            color: $black;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 0;

            &:active {
                filter: brightness(110%);
            }
        }
    }
}
