.calculator__operator-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .calculator__operator-list__item {
        padding-bottom: 3px;

        button {
            display: block;
            background: $orange;
            color: $black;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 0;

            &:active {
                filter: brightness(110%);
            }
        }
    }
}
